    body {
        background-image: url('/img/fundotudojunto.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        overflow-x: hidden;

    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .box {
        width: 35%;
        height: 90%;
        background: #ffffff;
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 64px;

    }

    .circle {
        width: 100px;
        height: 100px;
        background-color: #c0c0c0;
        clip-path: circle(50% at center);
    }

    .container-square {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 30px;
        gap: 20px;
    }


    .square {
        width: 100px;
        height: 100px;
        background-color: #dbdbdb;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;

    }

    .square img {
        width: 75%;
        height: 75%;
        object-fit: cover;
    }

    .form-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 15px;
    }

    .input-box {
        flex: 1;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .input-box:last-child {
        margin-right: 0;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ffffff;
        border-radius: 30px;
    }