body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    background: rgba(0, 0, 0, 0.20);
    color: #353942;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkinterno {
    list-style: none;
    display: flex;
}

.linkinterno li.active {
    font-weight: 700;
}

.linkinterno>li>a {
    padding: 0.5em 1.1em;
    border-radius: 0.3em;
    text-decoration: none;
    color: #000;
    font-size: 1em;
    transition: 400ms;
}

.linkinterno li {
    text-transform: uppercase;
    margin-right: 1.5em;
}

.linkinterno>li>a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img {
    width: 8.125em;
    height: 6.5625em;
}

#Cabecario {
    height: 281px;
    padding: 1.5em;
}

#Cabecario>h1 {
    letter-spacing: 0.05em;
    color: #FFF;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.2;
    max-width: 80%;
    margin: 0;
}

#Cabecario>h1>g {
    color: #D2FFBE;
}

#Cabecario>p {
    font-size: 1.2em;
    max-width: 37.5em;
}

#Cabecario>p>g {
    color: #B4FF93;
    font-size: 1.25em;
    font-weight: 900;
}

#MaisVisitados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.topico {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topico>img {
    width: 19em;
    height: 11em;
}

.topico>p {
    color: #090909;
    font-size: 1.2em;
}

.topico>p>g {
    color: #36A504;
    font-size: 1.1em;
    font-weight: 800;
}

.topico>p>k {
    color: #93C47D;
    font-size: 1.1em;
    font-weight: 800;
}

#Diferenciais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Diferenciais>h2 {
    color: #000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 117.623%;
    letter-spacing: 10.5px;
    text-transform: uppercase;
}

#Diferenciais>h2>g {
    color: #215D06;
    font-style: normal;
    font-weight: 900;
    line-height: 117.623%;
    letter-spacing: 9px;
    text-transform: uppercase;
}

#Diferenciais>img {
    width: 75%;
    height: 550px;
}

#Produtos {
    padding: 40px;
}

#ContainerProdutos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#Produtos>h2 {
    color: #215D06;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 117.623%;
    letter-spacing: 27px;
    text-transform: uppercase;
}

#Produtos>h2>g {
    color: #000;
    font-weight: 700;
    font-size: 45px;
}

#ProdutoTomate {
    color: #FE161A;
    font-size: 1.1em;
    font-weight: 800;
}

#ProdutoCenoura {
    color: #FF4E00;
    font-size: 1.1em;
    font-weight: 800;
}

#SobreNos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/fundoSobrenos.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
}

#SobreNosTomate {
    width: 481px;
    height: 481px;
    margin-top: 100px;
}

#SobreNosPimentao {
    width: 365px;
    height: 365px;
}

#AreaProdutos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}

.Produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}

.Produto img {
    width: 250px;
    height: 250px;
}

#batatadoce {
    width: 250px;
    height: 137px;
}

.FundoProduto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 288px;
    border-radius: 60px;
    background: #EBEAEA;
    margin-bottom: 10px;
}

.DetalhesProdutos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 10px;
    font-size: 1.2em;
    color: #000;
    margin-bottom: 10px;
}

.ButtonProduto {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 30px;
    background: rgb(255, 147, 58);
    color: #FFF;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    /* margin-top: 10px; */
    transition: background 0.3s;
}

.ButtonProduto:hover {
    background: rgb(255, 123, 26);
}

.ButtonProduto img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

#ProdutoEspecifico {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AreaFoto img {
    width: 500px;
    height: 500px;
}

#BatataDoceDetalhes{
    width: 470px;
    height: 287px;
    padding: 110px;
}

.DadosProdutos {
    margin: 40px;
    width: 500px;
}

.DadosProdutos h2 {
    color: #000;
    font-size: 2.6em;
    font-weight: 600;
}

.DadosProdutos p {
    text-align: justify;
    font-weight: 400;
}

.AreaCompra {
    display: flex;
    align-items: center;
}

.AreaCompra h3 {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: 1.2px;
    margin-right: 30px;
}

/* CSS Págna de Cadastro */
#Planos img{
    width: 100%;
    height: auto;
}

#Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Formulario h2{
    font-size: 1.2em;
    font-weight: 600;
}

.form-container {
    padding: 20px;
    width: 100%;
    max-width: 90%;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FBFBFB;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
    font-size: 14px;
}

#Formulario button {
    width: 150px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

#footer {
    background-color: rgba(68, 120, 45, 0.51);
    padding: 30px;
    color: #000;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
}

.footer-section {
    min-width: 150px;
}

.footer-section h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: 700;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
    color: #000;
    font-size: 1.2em;
    font-weight: 300;
}

.footer-section p {
    margin: 5px 0;
    color: #000;
}

.footer-icons {
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.footer-icons a img {
    width: 24px;
    height: 24px;
}

.footer-icons a img:hover {
    opacity: 0.8;
}

.footer-copyright {
    display: flex;
    justify-content: center;
}

.footer-copyright p {
    font-size: 1em;
    color: #000;
    font-weight: 400;
}


/* Responsividade */
@media (max-width: 768px) {
    header {
        height: auto;
        text-align: center;
    }

    .logo>img {
        width: 3.75em;
        height: 3.75em;
    }

    #Cabecario>h1 {
        font-size: 2.25em;
    }

    #Cabecario>p {
        font-size: 1em;
    }

    .linkinterno>li>a {
        padding: 0.5em 1em;
        font-size: 0.875em;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        gap: 0.5em;
    }

    .linkinterno {
        flex-direction: column;
        gap: 0.25em;
    }

    .logo>img {
        width: 3.125em;
        height: 3.125em;
    }

    #Cabecario>h1 {
        font-size: 1.75em;
    }

    #Cabecario>p {
        font-size: 0.875em;
    }
}