body {
  overflow-x: hidden;
}

section {
  width: 80%;
  margin: 0 auto;
}

.titulo-perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 30px;
}

.titulo-perfil h1 {
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  color: #000;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.titulo-perfil span {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}


.formulario {
  max-width: 700px;
  margin: 0 auto;
}

.linha {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

form span {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 15px;
}

.botao-container {
  text-align: center;
  margin-top: 30px;
}

.botao-editar {
  background-color: #a3d18c;
  border: none;
  padding: 15px 80px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-editar:hover {
  background-color: #8cc273;
}

#mostrarSenha{
  padding: 10px;
  color: #000;
  border-radius: 5px;
  border: #000;
  background-color: #FFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.15s;
}

#mostrarSenha:hover{
  background-color: #DDD;
}